body{
	font-family: "Arial",sans-serif;
	background-color: #EEF;
	font-size: 14px;
	margin: 0px;
}h1,h2,h3{
	border-bottom: 2px solid #9C0;
	padding: 2px 8px 2px 8px;
	margin: 16px 0px 0px 0px;
	font-size: 24px;
}h2{
	font-size: 18px;
}h3{
	font-size: 14px;
}p{
	padding: 2px 8px 2px 8px;
	margin: 0px;
}pre{
	font-family: "Courier New",monospace;
	margin: 4px 16px 4px 16px;
	border: 2px solid #BBF;
	background-color: #EEF;
	font-weight: bold;
	padding: 4px;
}ul,ol{
	list-style-position: outside;
	padding: 0px 4px 0px 32px;
	margin: 2px 0px 2px 0px;
}li{
	margin: 1px 0px 1px 0px;
	padding: 0px;
}a{
	text-decoration: none;
	color: #44B;
}a:hover{
	text-decoration: underline;
	color: #00F;
}img{
	border: none;
	margin: 4px;
}

/* Main content block */
div.body{
	border: 2px solid #000;
	border-width: 0px 2px 2px 2px;
	background-color: #FFF;
	margin: 0px 8px 8px 160px;
	padding: 8px;
}div.body h1.first{
	margin: 0px;
}div.sub{
	margin: 0px 8px 0px 16px;
}

/* Stuff to handle source code */
span.c{ /* comments */
	color: #080;
}span.i{ /* identifiers */
	color: #00F;
}span.o{ /* operators and brackets */
	color: #F00;
}

/* The menu */
div.menu{
	font-size: 12px;
	width: 160px;
	float: left;
}div.menu h1{
	border-bottom-color: #000;
	background-color: #9C0;
	text-align: center;
	font-size: 18px;
	margin: 0px;
}div.menu h2{
	border-bottom-color: #000;
	padding: 2px 4px 2px 8px;
	font-size: 12px;
	margin-top: 0px;
}div.menu ul{
	padding-left: 20px;
}div.menu ul ul{
	padding-left: 14px;
}
